@import './global/mixins';

/*----- ACF Radio Button Color Picker ---------------*/
.wp-admin .acf-block-component {

    ul.acf-radio-list {
        @apply flex flex-wrap pl-0 ml-0;
        //  display: flex;
        //  flex-wrap: wrap;
        //  padding-left: 0;
        //  margin-left: 0;

         li {
            @apply flex flex-wrap mr-0;
            //   margin-right: 0;
            //   display: flex;
            //   flex-wrap: wrap;

              label {
                @apply w-[28px] h-[28px] relative my-[6px] mx-[12px] text-white;
                //    width: 28px;
                //    height: 28px;
                //    position: relative;
                //    margin: 6px 12px 6px 0;
                //    color: white;

                   input[type="radio"] {
                    @apply absolute top-0 left-0 w-[28px] h-[28px] border border-black/10;
                    @apply transition hover:scale-[1.2] focus:border focus:border-black/20 focus:shadow;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        // width: 28px;
                        // height: 28px;
                        // border: 1px solid rgba(0,0,0,0.2);
                        // @extend %transition;

                        &:hover {
                            //  transform: scale(1.2);
                        }

                        &:focus {
                            //  box-shadow: 0 0 0 2px white, 0 0 0 4px #757575;
                            //  border: 1px solid transparent;
                        }

                        &:checked {

                             &::before {
                                //   content: "\f15e";
                                //   font-family: dashicons;
                                //   width: 20px;
                                //   height: 20px;
                                //   background-color: transparent;
                                //   font-size: 20px;
                                //   margin: 1px;
                                //   color: white;

                                @apply w-[20px] h-[20px] bg-transparent text-[20px] text-white m-[1px];
                                content: "\f15e";
                                font-family: dashicons;
                             }
                        }

                        // override light colors with a black checkmark when checked (default is white)
                        &[value="secondary"],
                        &[value="tertiary"],
                        &[value="white"],
                        &[value="gray-light"],
                        &[value="gray-medium"] {

                             &:checked {

                                  &::before {
                                       @apply text-black;
                                  }
                             }
                        }

                        &[value="contrast"],
                        &[value="base"],
                        &[value="black"] {
                             background-color: var(--wp--preset--color--contrast);
                        }

                        &[value="white"] {
                             background-color: var(--wp--preset--color--white);
                        }

                        &[value="primary"] {
                             background-color: var(--wp--preset--color--primary);
                        }

                        &[value="secondary"] {
                             background-color: var(--wp--preset--color--secondary);
                        }

                        &[value="tertiary"] {
                            background-color: var(--wp--preset--color--tertiary);
                       }

                       &[value="accent"] {
                        background-color: var(--wp--preset--color--accent);
                   }

                   }
              }
         }
    }
}