.rounded-btn {
    border-radius:.25rem;
}

.card {
    border-radius: .25rem !important;

    &::before {
        border-radius: .25rem !important;
    }

    &-body {
        @apply gap-y-4;
    }

    &-actions {
        @apply flex justify-end;
    }
}

