.pagination-container {
    @apply flex justify-center;

    .post-pagination {
        @apply join justify-center mt-8;

        .page-numbers {
            @apply join-item btn btn-outline;
    
            &:not(:first-child):not(:last-child) {
                @apply border-l-0 border-r-0 rounded-none;
            }
    
            &:first-child {
                @apply border-r-0 rounded-tr-none rounded-br-none;
            }
    
            &:last-child {
                @apply border-l-0 rounded-tl-none rounded-bl-none;
            }
    
            &.current {
                @apply btn-disabled border-black bg-primary text-white;
            }
        }
    
        &:not(:first-child):not(:last-child) {
            .page-numbers {
                @apply border-0 rounded-none;
            }
        }
    }
}

.navigation {
    @apply mt-10;
    @apply lg:mt-12;

    .nav-links {
        @apply flex flex-wrap gap-y-2 items-center justify-between;
    }

    .nav-previous,
    .nav-next {
        a {
            @apply btn btn-outline pt-[3px] line-clamp-2 truncate;
            @apply flex items-center;
        }
    }

    .nav-previous {
        a {
            @apply rounded-tr-none rounded-br-none pl-6;
            @include chevron( before, left );
        }
    }

    .nav-next {
        @apply ml-auto;

        a {
            @apply rounded-tl-none rounded-bl-none pr-6;
            @include chevron( after, right );
        }
    }

}

.wp-block-query-pagination,
.wp-block-query-pagination.is-layout-flex {
    @apply grid;

    &:has( :not( .wp-block-query-pagination-next ) ) {
        grid-template-columns: 1fr max-content 1fr ;

        .wp-block-query-pagination-numbers {
            
            &::before {
                @apply flex;
                content: ' ';
            }
        }
    }

    &:has( .wp-block-query-pagination-previous ):has( .wp-block-query-pagination-next ) {
        grid-template-columns: 1fr max-content 1fr;
    }

    .wp-block-query-pagination-numbers {
        @apply justify-self-center m-0;
        @apply flex gap-x-[2px];
    }

    .wp-block-query-pagination-previous {
        @apply justify-self-start m-0;
        @apply before:content-['‹'] before:text-lg before:mr-1;
    }

    &:has( :not( .wp-block-query-pagination-previous ) ) {
        grid-template-columns: 1.25fr .75fr;

        .wp-block-query-pagination-numbers {
            @apply ml-auto;
            
            &::before {
                @apply flex;
                content: ' ';
            }
        }
    }

    .wp-block-query-pagination-next {
        @apply justify-self-end m-0;
        @apply after:content-['›'] after:text-lg after:ml-1;
    }

    a {
        &.page-numbers {
            @apply bg-black text-white;
            @apply hover:bg-black/80 focus:bg-black/80;
        }
    }

    .page-numbers {
        @apply p-2;

        &.current,
        &[aria-current="page"] {
            @apply bg-primary text-white;
        }
    }


}