:root {
    --wp--preset--font-size--small: theme( 'fontSize.sm' );
    --wp--preset--font-size--medium: theme( 'fontSize.md' );
    --wp--preset--font-size--large: theme( 'fontSize.lg' );
    --wp--preset--font-size--x-large: theme( 'fontSize.xl' );
}

body {
    @apply font-body;
}

.prose {
    @apply max-w-none;
}

h1,
h2,
h3,
h4,
h5 {}

h1,
h2,
h3 {
    @apply font-display font-normal;    
}

// h3,
h4,
h5 {
    @apply font-heading;    
}

h1,
.has-4-xl-font-size {
    @apply text-4xl;

    &.page-title {
        @apply mt-0;
    }
}

h2,
.has-3-xl-font-size,
.entry-title,
.wp-block-post-title {
    @apply text-3xl;
    
    a {
        @apply hover:text-primary focus:text-primary;
    }
    
}

h3,
.has-2-xl-font-size {
    @apply text-2xl;
}

.has-xs-font-size {
    @apply text-xs;
}

.has-sm-font-size {
    @apply text-sm;
}

.has-base-font-size {
    @apply text-base;
}

.has-lg-font-size {
    @apply text-lg;
}

.has-xl-font-size {
    @apply text-xl;
}

.has-5-xl-font-size {
    @apply text-5xl;
}

.has-6-xl-font-size {
    @apply text-6xl;
}

a {
    @apply text-black/80;
}

.entry-meta,
.post-meta {
    @apply font-sans font-bold;

    a {
        @apply hover:text-primary focus:text-primary;
    }
}

.wp-block-post-title,
.entry-title,
.page-title {}

.single .entry-content,
.wp-block-post-excerpt,
.wp-block-post-content {
    @apply max-w-none;

    p,
    ul,
    ol,
    table {
        @apply prose;
    }

    h2 {
        @apply font-normal;
    }
}

blockquote,
table {
    @apply prose;
}

.archive-header,
.site-main > .post-header {
    @apply font-display text-4xl;
    @apply border-t-4 border-primary pt-4;

    .post-title {
        @apply font-display text-4xl;
    }
}

:where( .has-primary-background-color, .has-black-background-color, .has-gray-900-background-color ) {
    .is-style-section-heading,
    .section-heading,
    .archive-title {
        @apply border-white;
    }
}

.is-style-intro,
.is-style-subheading,
.single .entry-content .is-style-intro,
.single .entry-content .is-style-subheading,
.wp-block-post-content p.is-style-intro,
.wp-block-post-content p.is-style-subheading {
    @apply font-sans text-lg max-w-[90%] text-pretty;
}

.is-style-embellished {
    &.wp-block-heading {
        @include embellish-text( $weight: 2px, $color: black );
        @apply uppercase tracking-wide text-xl mt-8 px-12;
    }
}

:where( .has-primary-background-color, .has-black-background-color, .has-gray-900-background-color ) {
    .is-style-embellished {
        @include embellish-text( $weight: 2px, $color: white );
    }
}