<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site Content"},"className":"site-main front-page-container","id":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group site-main front-page-container">

    <!-- wp:group {"tagName":"section","className":"section featured-posts","layout":{"type":"default"},"metadata":{"name":"Featured Posts"}} -->
    <section class="wp-block-group section featured-posts">
        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column -->
            <div class="wp-block-column">

                <!-- wp:pattern {"slug":"tvlr/query-featured-last-week-in-labor"} /-->

            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">

                <!-- wp:pattern {"slug":"tvlr/query-featured-boss-watch"} /-->

            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </section>
    <!-- /wp:group -->
    
    <!-- wp:pattern {"slug":"tvlr/newsletter-signup"} /-->

    <!-- wp:pattern {"slug":"tvlr/latest-clips"} /-->

    <!-- wp:group {"tagName":"section","align":"full","className":"section__additional-content not-prose","layout":{"type":"default"},"metadata":{"name":"Additional Content"}} -->
    <section class="wp-block-group alignfull section__additional-content not-prose">
        <!-- wp:post-content /-->
    </section>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"pre-footer","tagName":"footer","className":"site-pre-footer"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
