<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","metadata":{"name":"Site Content"}} -->
<main class="wp-block-group site-main">
	<!-- wp:group {"tagName":"header","className":"entry-header","metadata":{"name":"Page Header"}} -->
	<div class="wp-block-group entry-header">
		<!-- wp:post-title {"level":1,"className":"entry-title"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
