<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site Content"},"className":"site-main","id":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group site-main">
	<!-- wp:pattern {"slug":"tvlr/content-header-search"} /-->

	<!-- wp:pattern {"slug":"tvlr/query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"pre-footer","tagName":"footer","className":"site-pre-footer"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
